**Assignment 8: Language Modeling With an RNN**

**Group 3: Laura Fanelli, Mark Schieble, John Vaughan, Katie Zink**

Importing all the stuff

In [ ]:
import sys
import os
import json
import pandas as pd
import numpy
import optparse
import keras
import sklearn

from keras.callbacks import TensorBoard
from keras.models import Sequential, load_model
from keras.layers import LSTM, Dense, Dropout, SimpleRNN
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
from keras.preprocessing.text import Tokenizer
from collections import OrderedDict
from sklearn import model_selection

Data preparation, exploration, visualization

In [ ]:
dataframe

          0        1  ...                                                  3       4
0        id  keyword  ...                                               text  target
1         1      NaN  ...  Our Deeds are the Reason of this #earthquake M...       1
2         4      NaN  ...             Forest fire near La Ronge Sask. Canada       1
3         5      NaN  ...  All residents asked to 'shelter in place' are ...       1
4         7      NaN  ...  Just got sent this photo from Ruby #Alaska as ...       1
...     ...      ...  ...                                                ...     ...
6596  10869      NaN  ...  Two giant cranes holding a bridge collapse int...       1
6597  10870      NaN  ...  @aria_ahrary @TheTawniest The out of control w...       1
6598  10871      NaN  ...  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
6599  10872      NaN  ...  Police investigating after an e-bike collided ...       1
6600  10873      NaN  ...  The Latest: More Homes Razed by Northern Calif...       1

[6601 rows x 5 columns]

In [ ]:
dataset = dataframe.values

In [ ]:
dataset

array([['id', 'keyword', 'location', 'text', 'target'],
       ['1', nan, nan,
        'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all',
        '1'],
       ['4', nan, nan, 'Forest fire near La Ronge Sask. Canada', '1'],
       ...,
       ['10871', nan, nan,
        'M1.94 [01:04 UTC]?5km S of Volcano Hawaii. http://t.co/zDtoyd8EbJ',
        '1'],
       ['10872', nan, nan,
        'Police investigating after an e-bike collided with a car in Little Portugal. E-bike rider suffered serious non-life threatening injuries.',
        '1'],
       ['10873', nan, nan,
        'The Latest: More Homes Razed by Northern California Wildfire - ABC News http://t.co/YmY4rSkQ3d',
        '1']], dtype=object)

In [ ]:
X = dataset[:,0]

In [ ]:
 X

array(['id', '1', '4', ..., '10871', '10872', '10873'], dtype=object)

In [ ]:
df_train.head(10)

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1
5   8     NaN  ...  #RockyFire Update => California Hwy. 20 closed...      1
6  10     NaN  ...  #flood #disaster Heavy rain causes flash flood...      1
7  13     NaN  ...  I'm on top of the hill and I can see a fire in...      1
8  14     NaN  ...  There's an emergency evacuation happening now ...      1
9  15     NaN  ...  I'm afraid that the tornado is coming to our a...      1

[10 rows x 5 columns]

In [ ]:
df_test.head(10)

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan
5  12     NaN      NaN                 We're shaking...It's an earthquake
6  21     NaN      NaN  They'd probably still show more life than Arse...
7  22     NaN      NaN                                  Hey! How are you?
8  27     NaN      NaN                                   What a nice hat?
9  29     NaN      NaN                                          Fuck off!

In [ ]:
df_train.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [ ]:
# %matplotlib inline 
# import matplotlib.pyplot as plt
# df_train.hist(bins=50, figsize=(20,15))
# plt.show()

In [ ]:
for index, item in enumerate(X):
    # Quick hack to space out json elements
    reqJson = json.loads(item, object_pairs_hook=OrderedDict)
    del reqJson['timestamp']
    del reqJson['headers']
    del reqJson['source']
    del reqJson['route']
    del reqJson['responsePayload']
    X[index] = json.dumps(reqJson, separators=(',', ':'))

JSONDecodeError: ignored

In [ ]:
tokenizer = Tokenizer(filters='\t\n', char_level=True)
tokenizer.fit_on_texts(X)

# we will need this later
num_words = len(tokenizer.word_index)+1
X = tokenizer.texts_to_sequences(X)

In [ ]:
max_log_length = 1024
X_processed = sequence.pad_sequences(X, maxlen=max_log_length)

In [ ]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X_processed, Y, test_size=0.25, random_state=42)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
y_train.shape

In [ ]:
y_test.shape